* {
  box-sizing: border-box;
}

body {
  background-color: #6459cd;
  margin: 0;
  padding: 0;
  height: 100vh;
}

table {
  border-spacing: 0;
  border: 2px solid #aaa;
  margin: 0 auto;
}

.configuration {
  background-color: #3149ae;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  padding: 1rem;
}

#invader {
  height: 80%;
  display: flex;
  align-items: center;
}

.cell {
  background-color: #fff;
  border: 2px solid #aaa;
  margin: 0;
}

.black {
  background-color: #666;
  border: 2px solid #353535;
}

.grid,
.pixel {
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
}

.grid {
  border-radius: 10px 0 0 10px;
  margin-right: 0.2rem;
}

.pixel {
  margin-right: 0.2rem;
}

.confirm {
  background-color: #6158ca;
  padding: 1rem;
  border-radius: 0 10px 10px 0;
  color: white;
  font-size: 1rem;
  border: none;
  text-align: left;
}

.button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.selector {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  background-color: #4846a2;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.empty {
  background-color: #d2dae2;
}

.plain {
  background-color: #485460;
}

.light {
  background-color: #fbc048;
}

.highlight {
  background-color: #79ea83;
}
