body {
  background-color: #6459cd;
  margin: 0;
}

table {
  border-spacing: 0;
  border: 2px solid #aaa;
  margin: 0 auto;
}

.configuration {
  background-color: #3149ae;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.cell {
  background-color: #fff;
  border: 2px solid #aaa;
  margin: 0;
}

.black {
  background-color: #666;
  border: 2px solid #353535;
}

.grid,
.pixel {
  padding: 1rem;
}

.grid {
  border-radius-left: 5%;
}

.confirm {
  background-color: #6158ca;
  padding: 1rem;
  border-radius: 5%;
  color: white;
}

.button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.selector {
  margin-left: auto;
  width: 20%;
  background-color: #4846a2;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.empty {
  background-color: #d2dae2;
}

.plain {
  background-color: #485460;
}

.light {
  background-color: #fbc048;
}

.highlight {
  background-color: #79ea83;
}
